.main-products-section {
  /* display: flex; */
  margin-top: 2.5rem;
}

.products-section {
  flex-grow: 1;
  overflow: auto;
  padding: 1rem 1rem;
}

.product-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.card-head .image-badge-div .product-image {
  height: 20rem;
}

.liked {
  transform: scale(1.1);
  color: var(--red-color);
  opacity: 1;
}

/* ---------------------------------Start Card Stylings-----------------------------------  */

.card-bottom {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.card-rating {
  background-color: var(--yellow-color);
  color: #fff;
  padding: 5px 7px;
  border-radius: 10px;
  font-size: 10px;
  /* display: flex;
  align-items: center; */
  gap: 2px;
  font-weight: bold;
}

.no-product {
  height: 100%;
  /* display: flex;
  justify-content: center; */
}

/* ---------------------------------End Card Stylings-----------------------------------  */

@media screen and (max-width: 1000px) {
  .products-section {
    padding: 5rem 1rem;
  }
}
@media screen and (max-width: 817px) {
  .products-section {
    padding: 5rem 1rem;
  }
  .product-list-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .ecomm-card {
    min-width: 14rem;
    max-width: 14rem;
  }
}
@media screen and (max-width: 750px) {
  .product-list-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 0 0;
  }
  .ecomm-card {
    max-width: 10rem;
    min-width: 10rem;
  }
  .card-head {
    padding: 0.2rem;
  }
}
@media screen and (max-width: 400px) {
  .products-section {
    padding: 5rem 2rem;
  }
  .product-list-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 0 0;
  }
  .ecomm-card {
    max-width: 10rem;
    min-width: 10rem;
  }
  h3.product-heading {
    font-size: 0.8rem;
  }
}
