.main-products-section {
  /* display: flex; */
  margin-top: 2.5rem;
}

.products-section {
  flex-grow: 1;
  overflow: auto;
  padding: 10px 20px;
}

.product-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.card-head .image-badge-div .product-image {
  height: 20rem;
}

.liked {
  transform: scale(1.1);
  color: var(--red-color);
  opacity: 1;
}

/* ---------------------------------Start Card Stylings-----------------------------------  */

.card-bottom {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.card-rating {
  background-color: var(--yellow-color);
  color: #fff;
  padding: 5px 7px;
  border-radius: 10px;
  font-size: 10px;
  /* display: flex;
  align-items: center; */
  gap: 2px;
  font-weight: bold;
}

.no-product {
  height: 100%;
  /* display: flex;
  justify-content: center; */
}

/* ---------------------------------End Card Stylings-----------------------------------  */
