.addressModalBackground {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.addressModalContainer {
  position: fixed;
  top: 10rem;
  min-width: 50%;
  max-width: 50%;
  height: fit-content;
  overflow-x: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.filter-main {
  margin: 1rem 0;
}

.font-bold {
  font-weight: bold;
}

.input-row {
  margin: 0 25px 15px 0;
  position: relative;
  width: 100%;
}

.input-row label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-row input {
  width: 100%;
  padding: 8px;
  border: 1px solid #cacaca;
  border-radius: 10px;
}
span.error {
  color: red;
  position: relative;
  font-size: 10px;
  left: -14px;
  top: 2px;
}
@media screen and (max-width: 850px) {
  .flexclmn_onlyMob {
    flex-direction: column;
  }
  .addressModalContainer {
    min-width: 80%;
    max-width: 80%;
    min-height: fit-content;
    max-height: 60%;
  }
}
