.profile-section {
  flex-grow: 1;
  margin-top: 5rem;
}

.profile-container {
  margin: 0 auto;
  box-shadow: 0 0 4px 0px var(--dark-gray-color);
  min-width: 30%;
  max-width: 30%;
}

.profile-section .profile-header {
  margin: 1rem 1.2rem;
}

.profile-section .profile-body {
  gap: 2rem;
  margin: 1rem 1.2rem;
  padding: 1rem;
}

.profile-body .profile-item {
  gap: 1rem;
}

.profile-body .avatar {
  width: 3.5rem;
  height: 3.5rem;
}

.profile-details {
  gap: 20px;
}

.logout-btn {
  align-self: center;
  width: 10rem;
  margin: 1rem;
}

.tab-container {
  background-color: #f5f5f5;
}

.tab {
  flex: 1;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #333;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: #eaeaea;
}

.tab.active {
  background-color: #ddd;
  color: var(--black-color);
}

.tab-content {
  padding: 1rem;
}
.address-tab {
  padding: 1rem;
}

.address-item h4 {
  margin-bottom: 0.5rem;
}

.address-actions {
  gap: 0.5rem;
  margin-top: 0.8rem;
}

.delete-btn {
  color: var(--red-color);
  outline: var(--red-color) solid 1px;
}

.add-address-btn {
  background-color: var(--dark-blue-color);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 11rem;
}

.profileSubHeading {
  min-width: fit-content;
}

@media only screen and (max-width: 1000px) {
  .profile-section {
    margin-top: 9rem;
  }
}
@media only screen and (max-width: 780px) {
  .profile-container {
    margin: 0 auto;
    box-shadow: 0 0 4px 0px var(--dark-gray-color);
    min-width: 90%;
    max-width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .address-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .address-actions {
    justify-content: flex-start;
  }

  .profile-container {
    margin: 0 auto;
    box-shadow: 0 0 4px 0px var(--dark-gray-color);
    min-width: 90%;
    max-width: 90%;
  }
}
@media only screen and (max-width: 400px) {
  .profile-section .profile-body {
    flex-direction: column;
    align-items: center;
  }
}
