.single-section {
  margin-top: 5rem;
  flex-grow: 1;
}

.single-card {
  display: grid;
  grid-template-columns: 3fr 4fr;
  margin: 0 auto;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
}

.left-part .product-image {
  width: 17rem;
  height: 20rem;
  object-fit: contain;
}

.single-card .right-part {
  gap: 1.5rem;
  position: relative;
}

.right-part .card-title {
  font-size: 1.75rem;
}

.right-part .like-icon {
  top: 0;
  right: 0;
}

.right-part .card-top {
}

.right-part .card-rating {
  min-width: 3rem;
  max-width: 3rem;
  align-self: baseline;
  border-radius: 5px;
  font-weight: 800;
  gap: 4px;
  font-size: 0.75rem;
}

.card-tags {
  font-size: 1rem;
  color: var(--dark-gray-color);
  font-weight: bold;
}

.card-tags .fa-check {
  color: var(--primary-color);
  font-weight: bold;
}

.border-bottom {
  border-bottom: 1px solid var(--dark-gray-color);
}

.product-details {
  gap: 10px;
  margin-top: 20px;
}

.product-details .detail {
  gap: 10px;
}

.product-details .detail .deatil-name {
  font-weight: 600;
}
